h1 {
    text-align: center;
    font-size: 40pt;
    margin-top:40px;
    margin-bottom:40px;
    color:white;
    padding-top: 100px;
}
.before-ponuda {
    margin-left:130px;
    margin-right: 130px;
    display:flex;
    height: 60vh;
    flex-direction: row;
}
.ponude-slika-grcka {
    margin-right: 20px;
    flex-grow: 1;
}
.tekst-i-dugme-ponuda {
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    padding-left:40px;
}
.tekst-ponuda{
    background-color: white;
    color:black;
    opacity:0.5;
    flex-grow: 1;
    float:right;
    font-size: 20pt;
}
.dugme-ponuda-grcka {
    margin-top:500px;
    bottom:0;
    flex-grow: 1;
}
.pogledaj-ponude {
    margin-left: 100px;
    width:500px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Roboto' sans-serif;
    font-size: 18pt;
    cursor: pointer;
}
